
@{
    ViewBag.Title = "index";
    Layout = "~/Views/front-end/layout/front_end_layout.cshtml";
}


<!--=========== BEGIN SLIDER SECTION ================-->
<section id="sliderArea">
    <!-- Start slider wrapper -->
    <div class="top-slider">
        <!-- Start First slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                

                <img src="~/assets/front/images/gallery/doc1.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>Ovo je <strong>Mesto</strong> Za Vas</h2>
                <p><strong>Code Medic</strong> Vaše Zdravlje Naš Zadatak</p>
                <div class="readmore_area">
                    <a data-hover="CODE MEDIC" href="#"><span>Radimo 00-24</span></a>
                </div>
            </div>
        </div>
        <!-- End First slide -->
        <!-- Start 2nd slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/assets/front/images/gallery/doc2.jpg" alt="" >
                
            </div>
            <div class="slider-text">
                <h2><strong>Code Medic</strong> Vaše Zdravlje Naš Zadatak</h2>
                <p><strong></strong>Ovo Je Mesto Za Vas</p>
                <div class="readmore_area">
                    <a data-hover="CODE MEDIC " href="#"><span>Radimo 00-24</span></a>
                </div>
            </div>
        </div>
        <!-- End 2nd slide -->
        <!-- Start Third slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/assets/front/images/7.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2><strong>Code Medic</strong> Mi Vraćamo Osmeh Na Vaše Lice</h2>
                <p><strong></strong> Zdravlje Na Prvom Mestu </p>
                <div class="readmore_area">
                    <a data-hover="CODE MEDIC" href="#"><span>Radimo 00-24</span></a>
                </div>
            </div>
        </div>
        <!-- End Third slide -->
        <!-- Start Fourth slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/assets/front/images/12.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2><strong>Mi Vraćamo</strong> Osmeh na Vaše Lice</h2>
                <p><strong></strong>Vaša Ordinacija</p>
                <div class="readmore_area">
                    <a data-hover="CODE MEDIC" href="#"><span>Radimo 00-24</span></a>
                </div>
            </div>
        </div>
        <!-- End Fourth slide -->
        <!-- Start Fifth slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/assets/front/images/9.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>CODE MEDIC <strong>Vaše Zdravlje</strong> Naš Zadatak</h2>
                <p><strong></strong>CODE MEDIC</p>
                <div class="readmore_area">
                    <a data-hover="CODE MEDIC" href="#"><span>Radimo 00-24</span></a>
                </div>
            </div>
        </div>
        <!-- End Fifth slide -->
    </div><!-- /top-slider -->
</section>
<!--=========== END SLIDER SECTION ================-->
<!--=========== BEGIN Top Feature SECTION ================-->


<!--=========== END Top Feature SECTION ================-->

<!--=========== BEGAIN Why Choose Us SECTION ================-->
<section id="whychooseSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="service-area">
                    <!-- Start Service Title -->
                    <div class="section-heading">
                        <h2>Zašto Izabrati nas</h2>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                        <div class="whyChoose-left">
                            <div class="whychoose-slider">
                                <div class="whychoose-singleslide">
                                    <img src="~/assets/front/images/choose-us-img1.jpg" alt="img">
                                </div>
                                <div class="whychoose-singleslide">
                                    <img src="~/assets/front/images/choose-us-img2.jpg" alt="img">
                                </div>
                                <div class="whychoose-singleslide">
                                    <img src="~/assets/front/images/choose-us-img3.jpg" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                        <div class="whyChoose-right">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="media-icon">
                                        <span class="fa fa-hospital-o"></span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Savremena Infrastruktura</h4>
                                    <p>Uvek Tu Da Pomognemo</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="media-icon">
                                        <span class="fa fa-user-md"></span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Visoko kvalifkovani doktori</h4>
                                    <p>CODE MEDIC ,Beograd 11000</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="media-icon">
                                        <span class="fa fa-ambulance"></span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Hitna služba</h4>
                                    <p>Bolji....Brži</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END Why Choose Us SECTION ================-->

<!--=========== BEGAIN Doctors SECTION ================-->
<section id="meetDoctors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="meetDoctors-area">
                    <!-- Start Service Title -->
                    <div class="section-heading">
                        <h2>Nasi Lekari</h2>
                        <div class="line"></div>
                    </div>
                    <div class="doctors-area">
                        <ul class="doctors-nav">
                            <li>
                                <div class="single-doctor">
                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                        <figure>
                                            <img src="~/assets/front/images/jelena.jpg" height="342" width="250" />
                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                            <figcaption>
                                                <h2>Dr. Jelena Lompar</h2>
                                                <p>Hirurgija</p>
                                                
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <div class="single-doctor-social">
                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/assets/front/images/gak.jpg" height="342" width="250" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. Aleksandar Gak</h2>
                                                    <p>Dermatolog</p>
                                                    
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/assets/front/images/doctor-3.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. Linda Hayes</h2>
                                                    <p>Internista</p>
                                                    
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/assets/back/img/admin.jpg" height="342" width="250" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. Đorđe Ivanović</h2>
                                                    <p>Oftalmolog</p>
                                                   
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                        <figure>
                                            <img src="~/assets/front/images/doctor-1.jpg" />
                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                            <figcaption>
                                                <h2>Dr. Yvonne Cadiline</h2>
                                                <p>Pediatric Clinic</p>
                                                
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <div class="single-doctor-social">
                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/assets/front/images/doctor-2.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>DR. Jack Johnson</h2>
                                                    <p>Rehabilitation Therapy</p>
                                                    
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/assets/front/images/doctor-3.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. Linda Hayes</h2>
                                                    <p>Cardiac Clinic</p>
                                                    
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/assets/front/images/doctor-5.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. David Gresshoff</h2>
                                                    <p>Laryngological Clinic</p>
                                                    
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== End Doctors SECTION ================-->

